SSL_SERVER_TOKEN_URL=/api/tokens
SSL_SERVER_ZIP_URL=/api/nginx/certificates/1/download
SSL_SERVER_TOKEN_FILE=.ssl_server_token
SSL_SERVER_SSL_DIR=certificates

SSL_SERVER_IDENTITY=
SSL_SERVER_SECRET=

SERVER_URL=localhost:8443
AUTH_TOKEN=

CLIENT_ID=
VITE_GITHUB_USER=
GITHUB_USER=
SHELL_USER=
DEBUG=

VERSION_RELEASE_WEBHOOK_SECRET=

OIDC_ENABLED=true
